<a href="https://colab.research.google.com/github/SaravanaKumarRamesh/google_collab/blob/test_branch/google_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Test_app").getOrCreate()

In [ ]:
df = spark.createDataFrame([[1, 2, 3], [4, 5, 6]], ["a", "b", "c"])

In [ ]:
df

DataFrame[a: bigint, b: bigint, c: bigint]

In [ ]:
df.createOrReplaceTempView("people")  # "people" is the view name

In [ ]:
spark.sql("select * from people").show()

+---+---+---+
|  a|  b|  c|
+---+---+---+
|  1|  2|  3|
|  4|  5|  6|
+---+---+---+

In [ ]:
spark.sql("select *,case when a = 1 then 'yes' else 'no' end as new_col from people").show()

+---+---+---+-------+
|  a|  b|  c|new_col|
+---+---+---+-------+
|  1|  2|  3|    yes|
|  4|  5|  6|     no|
+---+---+---+-------+

In [ ]:
import pyspark.pandas as ps

In [4]:
test = 1
if test == 1:
    print("yes")
else:
    print("no")

yes

In [6]:
from pprint import pprint
pprint("hello")

'hello'

In [7]:
for i in range(1,20,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [9]:
for i in range(2):
  for j in range(3):
    print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2